* {
    font-family: 'Marck Script', cursive;
    color:rgb(68, 61, 165);
    margin: 0;
    padding: 0;
    text-align: center;
}
body {
    background-color: rgb(251, 249, 255);
    background-image: url("1625168001_51-kartinkin-com-p-nezhno-fioletovii-fon-krasivie-foni-51.jpg") ;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.zagolovok {
margin:80px 0 20px 0;
}

 div {
    margin-bottom:50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center
 }
 h1 {
    font-size: 4em;
    font-weight:normal;
 }
.name {
    font-size: 4em;
}
 h2{
    font-size: 2em;
 }
 p{
     font-size: 2em;
 }
.imeg_one {
    height: 800px;
    width: 800px;
    background-image: url("pngwing.com.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-left: 30px;
}
a{
    text-decoration:none;
}

a:hover{
        color: rgb(255, 255, 255);
        text-decoration: underline;
}
#info {
    margin-bottom: 0;
}
input {
    background-color: rgb(213, 211, 235);
    border: 2px solid;
    border-color: rgb(92, 34, 146);
    width: 200px;
    height: 70px;
    font-size: 1.5em;
    border-radius: 45px;
    margin-top: 40px;
    margin-bottom: 40px;
    transition: transform .2s;
    
}


input:active {
    background-color: rgb(233, 200, 255); 
}
#block {
display: none;
}
@media screen and (min-width: 800px) {
    input:hover {
        transform: scale(1.5); 
    }
}
@media (max-width: 920px) {
    .imeg_one {
        height: 500px;
        width: 500px;
        background-size: 100%;
        background-repeat: no-repeat;
        padding-left: 30px;
    }
    a{
        border-bottom: 2px dashed rgb(92, 34, 146);
        padding-bottom: 3px;
      }
    h1 {
        font-size: 3em;
     }
    .name {
        font-size: 3em;
    }
     h2{
        font-size: 2em;
     }
     p{
         margin: 0 30px 0 30px;
         font-size: 2em;
         word-break:word-break;
     }
}

@media (max-width: 920px) {
    .zagolovok {
        margin: 80px 0 20px 0;
        }
    .imeg_one {
        height: 400px;
        width: 400px;
        background-size: 100%;
        background-repeat: no-repeat;
        padding-left: 30px;
    }
    h1 {
        font-size: 2.7em;
     }
     .name {
        font-size: 2.7em;
    }
     h2{
        font-size: 1.7em;
     }
     p{
         margin: 0 30px 0 30px;
         font-size: 1.5em;
         word-break:break-all;
     }
     input {
        border-radius: 40px;
    }
}
@media (max-width: 460px) {
    .zagolovok {
        margin: 50px 0 10px 0;
        }
    .imeg_one {
        height: 300px;
        width: 300px;
        background-size: 100%;
        background-repeat: no-repeat;
        padding-left: 30px;
    }
    h1 {
        font-size: 2.2em;
     }
     .name {
        font-size: 2.2em;
    }
     h2{
        font-size: 1.7em;
     }
     p{
         margin: 0 30px 0 30px;
         font-size: 1.5em;
         word-break:break-all;
     }
     input {
        border-radius: 35px;
    }
}
@media (max-width: 390px) {
    .zagolovok {
        margin: 50px 0 0 0;
        }
    div {
        margin-bottom:30px;
    }
    .imeg_one {
        height: 280px;
        width: 280px;
        background-size: 100%;
        background-repeat: no-repeat;
        padding-left: 20px;
    }
    h1 {
        font-size: 1.8em;
     }
     .name {
        font-size: 1.8em;
    }
     h2{
        font-size: 1.5em;
     }
     p{
         margin: 0 30px 0 30px;
         font-size: 1.3em;
         word-break:break-all;
     }
     input {
        border-radius: 35px;
    }
}

@media (max-width: 320px) {
    .zagolovok {
        margin: 35px 0 0 0;
        }
    div {
        margin-bottom:30px;
    }
    .imeg_one {
        height: 250px;
        width: 250px;
        background-size: 100%;
        background-repeat: no-repeat;
        padding-left: 15px;
    }
    h1 {
        font-size: 1.5em;
     }
     .name {
        font-size: 1.5em;
    }
    h2{
        font-size: 1.2em;
     }
    p{
         margin: 0 30px 0 30px;
         font-size: 1em;
         word-break:break-all;
     }
    input {
        border-radius: 35px;
    }
}
@media (max-width: 270px) {
    .zagolovok {
        margin: 25px 0 0 0;
        }
    div {
        margin-bottom:25px;
    }
    .imeg_one {
        height: 200px;
        width: 200px;
        background-size: 100%;
        background-repeat: no-repeat;
        padding-left: 10px;
    }
    h1 {
        font-size: 1.1em;
     }
     .name {
        font-size: 1.1em;
    }
     h2{
        font-size: 1em;
     }
     p{
         margin: 0 30px 0 30px;
         font-size: 0.8em;
         word-break:break-all;
     }
     input {
        width: 150px;
        height: 40px;
        border-radius: 20px;
        font-size: 1em;
    }
}
@font-face {
    font-family: 'Marck Script' ;
    src: url("fonts/MarckScript-Regular.ttf") format("truetype"); 
}

